.number-box {
  height: 50px;
  width: 50px;
  background-color: var(--light-red);
  margin: 2px;
  border-radius: 3px;
}

.number {
  display: block;
  height: 100%;
  position: relative;
  top: 15px;
  color: white;
}
